/* =========================
   共通
========================= */
:root {
   --btn-color-cta: #FF615C;

   --font-color-title: #333333;
   --font-color-text: #666666;

   --font-sz-20: 1.25rem;
   --font-sz-24: 1.5rem;
   --font-sz-32: 2rem;
   --font-sz-36: 2.25rem;
   --font-sz-40: 2.5rem;
}

body {
   font-family: "Noto Sans JP", sans-serif;
}

/* =========================
   レイアウト基盤
========================= */

header,
main,
footer {
   width: 100%;
}
.container{
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
}
.section {
   margin-bottom: 6.4rem;
}

/* =========================
   ヘッダー
========================= */
 header {
   position: sticky;
   top: 0;
   z-index: 10;
   background: #ffffffec;
}
.header__layout {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding-block: 1.25rem;
   padding-inline: 3rem;
}
.header__cta {
   display: flex;
   align-items: center;
   gap: 1rem;
}
.header__tel {
   display: flex;
   align-items: center;
   gap: 0.5rem;

}
.tel__label,
.tel__num {
   font-size: var(--font-sz-24);
   font-weight: bold;
}


/* =========================
   component
========================= */

/*---btn-----*/
.btn__font {
   font-size: var(--font-sz-32);
   font-weight: bold;
}
.btn__cta {
   color: #ffffff;
   background: var(--btn-color-cta);
   transition:
      background .3s ease,
      transform .3s ease,
      box-shadow .3s ease;
}
.btn__cta:hover{
   transform: translateY(-4px);

   box-shadow: 0 8px 20px rgba(0,0,0,.12);

   opacity: .9;
}
.header__btn,
.first-view__btn,
.cta__btn {
   display: flex;
   align-items: center;
   justify-content: center;
}


.section__title {
   font-size: var(--font-sz-40);
   font-weight: bold;
   color: var(--font-color-title);
}
.section__title-header {
   font-size: var(--font-sz-24);
   font-weight: bold;
   color: var(--font-color-title);
}


/*-----------スクロールアニメ-------*/
.js-fade{
   opacity: 0;
   transform: translateY(40px);
   transition:
      opacity .8s ease,
      transform .8s ease;
}

.js-fade.is-active{
   opacity: 1;
   transform: translateY(0);
}



/* =========================
   フッター
========================= */
footer {
   padding-block: 3.8rem;
}
.footer__layout {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   padding: 0.5rem 1.25rem;
   gap: 8.4rem;
   
}

